.scroll-bar {
    margin-left: 20px;
    padding-left: 20px;
    background-color: aliceblue;
    height: 80vh;
    width: auto;
    border: 1px solid grey;
    font-family: "GestaRegular", Arial, Helvetica, sans-serif;
    overflow: auto;
}

Button {
    height: 40px;
    width: 40px;
}
