.scroll-bar {
    margin-left: 20px;
    padding-left: 20px;
    background-color: white;
    height: 76vh;
    width: 165px;
    border: 1px solid grey;
    font-family: "GestaRegular", Arial, Helvetica, sans-serif;
    overflow: scroll;
}

p {
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
