.HelpButton {
    height: 40px;
    width: 40px;
    background-image: url("../images/helpbutton.png");
    background-color: white;
    border-color: rgb(255, 255, 255);
    float: inherit;
}

.info-box {
    height: 27vh;
    width: 27vh;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    border-style: dashed;
}

ul {
    list-style-type: none;
}
