#room-board {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#room {
    height: 36rem;
    width: 57rem;
    border: 1px solid black;
    z-index: 10;
}

#furniture-list {
    height: 100%;
}

#remove-button {
    font-size: 16px;
    position: absolute;
    bottom: 3px;
    left: 6px;
    margin: 0;
}

.furniture-label {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.dimensions-label {
    margin-left: 6px;
    margin-top: 2px;
    margin-bottom: 0px;
}
