.App {
    background-color: #e091d7;
    height: 100vh;
}

.column-sidebar {
    float: left;
    width: auto;
    padding: 10px;
    /* border-style: dashed; */
    height: auto;
}
.column-center {
    float: left;
    width: 100%;
    padding: 10px;
    height: auto;
}

.row-adj {
    display: flex;
}
