.App {
    background-color: rgb(227, 223, 219);
    height: 100vh;
}

.column-sidebar {
    float: left;
    width: auto;
    padding: 10px;
    /* border-style: dashed; */
    height: auto;
}
.column-center {
    float: left;
    width: 100%;
    padding: 10px;
    height: auto;
}

.column-right {
    float: left;
    width: auto;
    padding: 10px;
    height: auto;
    margin-top: 100px;
}

.row-adj {
    display: flex;
}
