.App {
    text-align: CENTER;
}

.App-logo {
    height: 0;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #5e181e;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.relative {
    position: relative;
    left: 500px;
}

.toolncar {
    font-size: large;
    font-weight: 500;
    border: 1px solid black;
    background-image: "./images/City.png";
}
.toolkit {
    position: relative;
    border: 1px solid pink;
    height: 500px;
    width: 200px;
}

.container {
    display: inline-block;
    position: relative;
    border: 5px solid black;
    /* background-image: url("bluecar.png"); */
    height: 700px;
    width: 700px;
    overflow: hidden;
}
.car {
    position: relative;
    border: 1px solid black;
    height: 300px;
    width: 500px;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    /*background-image: url("./components/images/dirt.png");*/
    /* background-color: hotpink; */
    height: 60px;
    width: 40px;
    cursor: pointer;
    filter: drop-shadow(0 6mm 4mm red);
}

.getinlineplz {
    display: inline-block;
    font-size: large;
    font-weight: 500;
    float: middle;
}
