.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #e091d7;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 4vmin);
    color: white;
    font-family: "Xanh Mono", monospace;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cropTop1 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.jacket1 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.pants1 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.pants2 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.pants3 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.skirt1 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.skirt2 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.skirt3 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.sweatshirt1 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.sweatshirt2 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.top1 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}

.top2 {
    position: absolute;
    width: "100px";
    height: "100px";
    border-radius: 0%;
    top: 0;
    left: 0;
    background-color: white;
}