.button {
    /* background-color: transparent; */
    opacity: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 25px;
    top: 50px;
}
.img {
    position: relative;
}
.rotateRight {
    transform: rotatez(90deg);
}
.rotateLeft {
    transform: rotatez(-90deg);
}
