div.scroll {
    margin: 4px, 4px;
    background-color: palegoldenrod;
    border: 3px solid #422311;
    height: 550px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
